/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    fungal-phylo Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs
params {

    help                = null

    ///// Input parameters
    samplesheet         = null                              // input samplesheet


    //// CUSTOM_MARKERS parameters
    custom_markers      = null                              // .csv of custom marker gene information

    //// EXTERNAL_GENOMES parameters
    ncbi_taxid          = null                              // NCBI txid (number) for retrieval of related genomes; integer
    limit_external      = false                             // limit the number of external genomes retrieved to one per taxon; boolean



    threads             = null                              // threads for multithreading; integer

    rdata               = true                              // save all data/objects from process-level R sessions as .RData files in work dir; boolean
}

// process {
    // withName:'UFCG_PROFILE|UFCG_TREE' {
    //     container = "endix1029/ufcg:v1.0.5"
    // }
// }

// shifter {
    // enabled             = true
// }


profiles {
    debug {
        // 
    }
}

plugins {
    id 'nf-schema@2.0.0'                            // create schema to validate sample sheets and pipeline parameters
}

report {
    enabled             = true
    overwrite           = true
    file                = "output/report.html"
}

trace {
    enabled             = true
    overwrite           = true
    file                = "trace/trace.txt"
}

dag {
    enabled             = true
    overwrite           = true
    file                = "output/dag.html"
    verbose             = true
}

timeline {
    enabled             = true
    overwrite           = true
    file                = "output/timeline.html"
}

executor {
    name                = "local"
    // cpus = 1 // restricts pipeline cpu use to single core (ie. no parallel processes) 
}

